#pathfinder-body {
    margin: 70px 5px 0px 5px;
}

.node {
    border: 1px solid black;
    margin: 0px;
    height: 25px;
    width: 25px;
}

.blank {
    background-color: white;
}

.wall {
    background-color: black;
}

.start {
    background-color: rgb(11, 218, 11);
}

.end {
    background-color: red;
}

.visited {
    background-color: rgb(49, 182, 226);
}

.solution {
    background-color: yellow;
}